/*css reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*自訂css reset*/
img{
	max-width: 100%;
	height: auto;
}
a{
	text-decoration: none;
}
*, *:before, *:after{
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}
*, *:focus{
	outline: none;
}

/*自訂css開始*/
.wrap{
	max-width: 1024px;
	margin: 0 auto;
	font-family: 'Noto Sans TC', sans-serif;
}

/*header css*/
.header{
	height: 70px;
	padding: 0 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: rgba(0, 0, 0, 0.8);
	border: 2px solid #000;
	border-bottom: 1px solid #000;
}
.header h1 a{
	font-size: 36px;
	font-weight: bold;
	color: #fff;
}
.header i{
	width: 50px;
	height: 50px;
	font-size: 28px;
	color: #fff;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
}
.title:hover{
	color: #e8d3d3;
}
.cart:hover{
	color: #f2aeae;
}

/*content css*/
.content{
	display: flex;
	font-size: 24px;
	font-weight: bold;
}
.classification{
	flex-basis: 200px;
	padding: 30px 35px;
	background: rgba(200, 200, 200, 0.8);
	border: 1px solid #000;
	border-left: 2px solid #000;
}
.classification li{
	padding: 10px 0 5px 0;
	border-bottom: 1px solid #000;
	cursor: pointer;
}
.productlist{
	flex-basis: 824px;
	padding: 30px 35px;
	background: rgba(230, 230, 230, 1);
	border: 1px solid #000;
	border-right: 2px solid #000;
}
.classificationName:hover{
	color: #fff;
	background: #000;
}

/*footer css*/
.footer{
	height: 60px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #000;
	border-top: 1px solid #000;
}