<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Shopping cart test</title>
 	<meta name="description" content="Shopping cart test">
	<meta property="og:title" content="Shopping cart test">
	<meta property="og:description" content="Shopping cart test">
	<meta property="og:type" content="website">
	<meta property="og:url" content="#">
	<meta property="og:image" content="img/if_shopping_cart_45079.png"> 
	<link rel="apple-touch-icon" href="img/if_shopping_cart_45079.png">
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- 加入網頁 icon、fontawesome、字型及 css 樣式表 -->
	<link rel="shortcut icon" href="img/if_shopping_cart_45079.png">
	<link rel="stylesheet" href="css/fontawesome-all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/earlyaccess/notosanstc.css">
	<link rel="stylesheet" href="css/all.css">	
</head>
<body>
	<div class="wrap">
		<div id="header">
			<h1>
				<a v-on:click.prevent=""
					v-bind:class="{title: classStatus.hoverOn}"
					href="#">Shopping cart test</a>
			</h1>
			<a v-on:click.prevent="clickShoppingCart"
				href="#" title="購物車">
				<i class="fas fa-shopping-cart"
					v-bind:class="{cart: classStatus.hoverOn}"></i>
				<span v-if="number > 0">{{number}}</span>
			</a>		
		</div>
		<div id="content">
			<ul class="classification" v-if="judgment.productOn">
				<li v-bind:class="{classificationHover: classStatus.hoverOn, touchColor: classStatus.phoneOn}"
					v-on:click="clickPhone">Phone</li>
				<li v-bind:class="{classificationHover: classStatus.hoverOn, touchColor: classStatus.notebookOn}"
					v-on:click="clickNotebook">Notebook</li>
			</ul>
			<ul class="productList" v-if="judgment.listButtom && judgment.productOn">
				<li class="list"
					v-for="(item, index) in product[0]"
					v-bind:class="{listHover: classStatus.hoverOn}"
					v-on:click="clickList(index)">
					<ul>
						<li class="productImg" v-bind:style="{'background-image': 'url(' + item.img + ')'}"></li>
						<li>{{item['產品名稱']}}</li>
						<li class="productPrice">{{item['價格']}}</li>						
					</ul>
				</li>
			</ul>
			<div class="productDetail" v-if="judgment.detailButtom && judgment.productOn">
				<ul>
					<li class="detailImg" v-bind:style="{'background-image': 'url(' + product[0].img + ')'}"></li>
					<li class="inputCart"
						v-if="judgment.inputCartButtom"
						v-bind:class="{inputCartHover: classStatus.hoverOn}"
						v-on:click="clickInputCart">放入購物車</li>
					<li class="alreadyShopping" v-if="judgment.alreadyShoppingButtom">已加入購物車</li>
					<li>{{product[0]['產品名稱']}}</li>
					<li>{{product[0]['價格']}}</li>						
					<ul class="productspec">
						<li v-for="spec in product[0]['規格']">{{spec}}</li>
					</ul>
				</ul>
			</div>
			<ul class="cartContent" v-if="judgment.shoppingCartOn">
				<li v-for="(item, index) in shoppingCart">
					<ul class="cartTitle">
						<li class="cartTitleName">商品</li>
						<li class="cartTitlePrice">單價</li>
						<li class="cartTitleNumber">數量</li>
						<li class="cartTitleTotal">小計</li>
					</ul>
					<ul class="cartProduct">
						<li class="cartContentImg" v-bind:style="{'background-image': 'url(' + item.img + ')'}"></li>
						<li class="cartProductName">{{item['產品名稱']}}</li>
						<li class="cartProductPrice">{{item['價格']}}</li>
						<li>
							<input type="button" title="減少" value="-" v-on:click="clickReduce(index, $event)">
							<input class="number" type="number" min="1" max="100" step="1"
								v-model="shoppingNumber[index]">
							<input type="button" title="增加" value="+" v-on:click="clickIncrease(index, $event)">
						</li>						
						<li class="cartSubtotal">{{count(index)}}</li>
					</ul>
				</li>
				<li class="cartTotalPrice">

				</li>
			</ul>
		</div>
		<div id="footer">
			<p>Copyright © Gavin Hsu All rights reserved.</p>
		</div>
	</div>
	<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
	<script src="js/all.js"></script>
</body>
</html>